* {
    margin: 0;
    padding: 0;
    box-sizing: auto;
  }

body {
    font-family: Arial, sans-serif;
    background-color: rgb(192, 192, 192);
}

.jugo {
    background-color: rgb(84, 94, 134);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 100vh;
}

.jugo img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 8%;
}

.jugo h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: rgb(1, 0, 9);

}